<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>


    <form method="POST" action="/">
    <input type="text" name="user_input" placeholder="New entry..." required>
    <button type="submit">Add</button>
    </form>

    <hr>

    {% for item in entries %}
        <div>
            <p><strong>Content:</strong> {{ item.content }} (ID: {{ item.id }})</p>

            <form action="/db/update/user_entries/{{ item.id }}" method="POST" style="display:inline;">
                <input type="text" name="updated_content" placeholder="Update text...">
                <button type="submit">Save</button>
            </form>

            <a href="/db/delete/user_entries/{{ item.id }}" style="color:red;">Delete</a>
        </div>
    {% endfor %}

</body>
</html>